Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.cache
config.h
config.h.in
config.log
config.status
configure
ganglia.spec
gmetad-python/Gmetad/gmetad_config.py
gmetad-python/gmetad-python.conf
gmetad-python/plugins/rrd_plugin.py
gmetad-python/setup.py
gmetad/conf.c
btool
**/Makefile
**/Makefile.in
**/.deps/
scripts/fixconfig
stamp-h1
lib/default_conf.h
libmetrics/configure.lineno
libtool
