
# Used to deduce tarball name
PROJECT_NAME=ganglia

# username is required for ssh access on Sourceforge
# on github, all users are just using the name git
#SF_USER=d_pocock
#SF_PROJECT=
#GIT_REPO=ssh://${USER}@${PROJECT}.git.sourceforge.net/gitroot/${PROJECT}/${PROJECT}

GITHUB_PROJECT=ganglia
GITHUB_SUBPROJECT=monitor-core
GIT_REPO=git@github.com:${GITHUB_PROJECT}/${GITHUB_SUBPROJECT}.git

# the branch in the repository where the releases are prepared,
# usually a release branch, possibly master for a small project
#RELEASE_BRANCH=release/3.3
RELEASE_BRANCH=master

# Should submodules be initialized?
GIT_SUBMODULE_INIT=1

# Is there a special script to bootstrap?  If not, autoreconf is tried
BOOTSTRAP_SCRIPT=bootstrap

# Any arguments to pass to configure for running make dist?
# may be necessary to ensure that optional modules are included in the dist
# for some large packages
DIST_CONFIGURE_ARGS="--with-perl"
# Any arguments to pass to configure for the tarball torture test phase?
TEST_CONFIGURE_ARGS=""

TEST_BINARY_IN_SRC="gmond"
TEST_BINARY_IN_TREE="usr/local/sbin"
TEST_BINARY="gmond"
TEST_BINARY_ARGS="-t"


WORK_ROOT=/tmp/ganglia-releases

TAR_DIR=${HOME}/dist

# automatically tag the release if all tests pass?
AUTO_TAG=0
# automatically push the tag back to the main repository?
AUTO_PUSH=0

# send an email notification?
MAIL_NOTIFICATION=0
# who to notify when a release is done?
MAIL_RECIPIENT=user@example.org

CLEANUP_WORK_ROOT=0

