/* The Ganglia Web-frontend Cascading Style Sheet. */

body{ font: 75% "Trebuchet MS", sans-serif; margin: 5px;}

A:link
{
   color: rgb(32,41,204);
   text-decoration: none;
}

A:visited
{
   color: rgb(51,51,204);
   text-decoration: none;
}

A:active
{
   color: rgb(204,205,226);
   text-decoration: none;
}

h1 
{
   font: bold 18pt/22pt helvetica, sans-serif;
   color: rgb(12,17,142);
   margin-bottom: 2mm;
}

h2
{
   font: bold 14pt/16pt helvetica;
   color: rgb(12,17,142); 
   margin-left: 0.1em;
   margin-right: 0.1em;
}

h3
{
   font: bold 12pt/15pt helvetica, sans-serif;
   text-align: left;
   margin-left: 3mm;
   color: rgb(247,142,14);
}

h4
{
   font: bold 12pt/14pt helvetica;
   color: rgb(12,17,142); 
   margin-left: 0.1em;
   margin-right: 0.1em;
}

small
{
   font: 10pt/12pt arial, helvetica, sans-serif;
}

td.title
{
   font-size: larger;
   font-weight: normal;
   background: rgb(238,238,238);
   text-align: center;
}

td.metric
{
   background: rgb(217,218,224);
   padding: 2mm;
}

td.cluster
{
   background: rgb(238,238,238);
   /* padding: 1mm; */
}

td.grid
{
   vertical-align: top;
   background: rgb(204,204,255);
}

td.self
{
   vertical-align: top;
   text-align: center;
   background: rgb(255,153,153);
}

td.even
{
   background: rgb(201,205,234);
}

td.odd
{
   background: rgb(217,218,224);
}

td.small
{
   font: 10pt/12pt times, serif;
}

td.L1
{
   background: rgb(184,249,119);
}

td.L2
{
   background: rgb(213,249,119);
}

td.L3
{
   background: rgb(228,249,119);
}

td.L4
{
   background: rgb(245,249,119);
}

td.L5
{
   background: rgb(249,239,119);
}

td.L6
{
   background: rgb(249,219,119);
}

td.L7
{
   background: rgb(249,202,119);
}

td.L8
{
   background: rgb(249,182,119);
}

td.L9
{
   background: rgb(249,152,119);
}

td.L10
{
   background: rgb(249,124,119);
}

td.down
{
   background: rgb(255,153,153);
}

th 
{
   font: bold 12pt/14pt helvetica, sans-serif;
   color: rgb(238,238,238);
   background: rgb(80,80,80);
   border: thin solid rgb(47,47,47);
}

td em
{
   font: 8pt/10pt helvetica, sans-serif;
   color: rgb(31,31,112);
   font-style: normal;
}

td strong
{
   color: rgb(31,31,112);
   font-style: normal;
}

.footer
{
      font: 10pt/12pt helvetica, sans-serif;
      color: rgb(100,100,100);
}

/* Views table and menu styling. */
#views_table {
      font-size: 12px
}
#table_top_chooser {
      font-size: 12px
}
#views_menu { width: 200px; }
#views_menu ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}
#views_menu a
{
display: block;
padding: 3px;
width: 160px;
background-color: white;
border-bottom: 1px solid #eee;
}
#views_menu a:link, #navlist a:visited
{
color: blue;
text-decoration: none;
}
#views_menu a:hover
{
background-color: #dddddd;
color: blue;
}
