#!/bin/bash 

set -e

action=$1
version=$2

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

  db_input medium ganglia-webfrontend/webserver || true
  db_go
  db_reset ganglia-webfrontend/restart || true
  db_subst ganglia-webfrontend/restart webserver "$webserver"
  db_input high ganglia-webfrontend/restart || true
  db_go

